*, *::before *::after{
    box-sizing: border-box;
    font-family: Arial;
}

*{
     font-family: 'Franklin Gothic Medium';
}



body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: grey;
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/iron-man-3/f/fa/Ironman3-conceptart-starklab.jpg?width=1280);
    background-repeat: no-repeat;
    background-size: cover;
    }


/**   background-image: url(https://i.pinimg.com/originals/ba/61/f0/ba61f0948fd39805c46babc02153ff60.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;


*/


.container{
    width: 700px;
    max-width: 700px;
    background-color: #1c2f3b;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    border: 1px, rgb(5, 27, 34);
    background-color: #276fa3;
    border-radius: 5px;
    padding: 5px 10px;
    color: #f9fefd;
    outline: none;

}

.btn:hover{
    border-color:#1c2f3b;
}

.start-btn, .next-btn{
    font-size: large;
    padding: 10px 20ox;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}



